# Python
__pycache__/
*.pyc
*.pyo

# Virtual Environments
venv/
backend/venv/
.venv/

# Environment Variables / Secrets
.env
.env.*
backend/.env
frontend/.env
backend/.env.*
frontend/.env.*
*.db

# Node
node_modules/
frontend/node_modules/
dist/
frontend/dist/

# VS Code
.vscode/

# JetBrains
.idea/

# OS files
.DS_Store
Thumbs.db
