.transaction-card{



border-radius:15px;



}



.transaction-card table{



margin-top:15px;



}



.transaction-card th{



background:#0d6efd;



color:white;



}



.transaction-card td{



vertical-align:middle;



}



.search-box{



margin-bottom:20px;



}



.filter-box{



margin-bottom:20px;



}